.footer {
    background: #272727;
    height: 100px;
    position: relative;
    color: white;
    overflow: auto;
    text-align: center;
  }
  
  .footer > .footertxt {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    padding: 8px;
    font-weight: 300;
  }
  
  .footer > .footertxt > img {
    width: 20px;
    position: relative;
    top: 3px;
    left: 2px;
  }
  