.score {
    background: #ffff;
    width: 100%;
    color: black;
    white-space: nowrap;
    color: #565656
  }
  
  .score ul {
    margin: auto;
    padding: 0;
  }
  
  .score li {
    display: inline-block;
    padding: 25px;
    width: 33.3%;
    text-align: center;
  }
  
  .score a {
    text-decoration: none;
    color: #868686;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: 'Bad Script', cursive;

  }
